*{
    margin: 0;
    padding: 0;
}

div{
    /* background-color: #a1b5cb; */
    /* background-color: #03045e; */
    background-color: #0077b6;
    
}

app-social{
    float:right;
    margin-top:25px;
}
