<div class="edit">
    <div class="col-lg-2" id="edit-persona">
        <button class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged" >
            <i class="bi bi-pencil-fill"></i> EDITAR
        </button>
    </div>
</div>

<div class="row">
    <div class=" col-sm-12 col-md-3 col-lg-3" id="foto">
        <div class="row" id="row-foto">
            <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="row" id="row-nombre">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 descripcion">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div>

<!-- <div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="foto">
        <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="nombre">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 descripcion">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div> -->